<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8">
		<title> 글 목록 </title>
		<style>
		h2{
			font-size: 2.0em;
			font-family: "NanumGothic", "Malgun Gothic";
			color:#00F9F0;
		}

		.post_container{
			font-size:1.0em;
		}

		#post-001{
			font-size: 1.25em;
		}

		.post_container .post_info{
			font-size:0.8em;
		}



		</style>
	</head>
	
	<body>
		<div id="post-001" class="post_container">
			<h2>글을 써봤습니다.</h2>
				
				<div class="post_content">
					<p>안녕하세요</p>
					<p>실제 글 목록 화면은 아니지만 .. 그럴싸 하네요</p>
					<p>다음 글에서 또 봐요.</p>
				</div>
				
				<div class="post_info">
					<div class="post_date">2016년 2월 24일</div>
					<div class="post_category">글 갈래 : Essay</div>
				</div>
				 
		</div>

		<div id="post-002" class="post_container">
			<h2>글을 써봤습니다.</h2>
				
				<div class="post_content">
					<p>안녕하세요</p>
					<p>실제 글 목록 화면은 아니지만 .. 그럴싸 하네요</p>
					<p>다음 글에서 또 봐요.</p>
				</div>
				
				<div class="post_info">
					<div class="post_date">2016년 2월 24일</div>
					<div class="post_category">글 갈래 : Essay</div>
				</div>
				 
		</div>

		<div id="post-003" class="post_container">
			<h2>글을 써봤습니다.</h2>
				
				<div class="post_content">
					<p>안녕하세요</p>
					<p>실제 글 목록 화면은 아니지만 .. 그럴싸 하네요</p>
					<p>다음 글에서 또 봐요.</p>
				</div>
				
				<div class="post_info">
					<div class="post_date">2016년 2월 24일</div>
					<div class="post_category">글 갈래 : Essay</div>
				</div>
				 
		</div>

		<div id="post-004" class="post_container">
			<h2>글을 써봤습니다.</h2>
				
				<div class="post_content">
					<p>안녕하세요</p>
					<p>실제 글 목록 화면은 아니지만 .. 그럴싸 하네요</p>
					<p>다음 글에서 또 봐요.</p>
				</div>
				
				<div class="post_info">
					<div class="post_date">2016년 2월 24일</div>
					<div class="post_category">글 갈래 : Essay</div>
				</div>
				 
		</div>

		<div id="post-005" class="post_container">
			<h2>글을 써봤습니다.</h2>
				
				<div class="post_content">
					<p>안녕하세요</p>
					<p>실제 글 목록 화면은 아니지만 .. 그럴싸 하네요</p>
					<p>다음 글에서 또 봐요.</p>
				</div>
				
				<div class="post_info">
					<div class="post_date">2016년 2월 24일</div>
					<div class="post_category">글 갈래 : Essay</div>
				</div>
				 
		</div>

		<ul class="page_navigation">
			<li>1</li>
			<li>2</li>
			<li class="current_page">3</li>
			<li>4</li>
			<li>5</li>
		</ul>
	</body>
</html>