<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>글 본문 </title>
		<style>
			.post_info{
				font-size : 0.7em;
				color:gray;
			}
			.prev_post,
			.next_post,
			.go_to_list{
				font-size : 0.5em;
				color : 777;
			}
		</style>
	</head>


	<body>
		<div class="post_info">
			<p>작성일 : 2016-02-25 23:00:00</p>
			<p>작성자 : Roy</p>
		</div>
		<div class="post_title">
			<h2>블로그에 남기는 첫번째 포스팅<h2>
		</div>
		<div class="post_content">
			<p>안녕하세요.</p>
			<p>블로그에 첫번째 글을 작성하네요.</p>
			<p>앞으로 꾸준히 일상을 공유하겠습니다.</p>
			<p>잘 부탁드려요.</p>
		</div>
		<div class="prev_post">
			 < 이전글
		</div>
		<div class="next_post">
			 다음글 >
		</div>
		<div class="go_to_list">
			목록으로
		</div>
		
	</body>

</html>
